
.rounded-button {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-background-color:#09576b;
    -fx-padding: 8 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.active-button {
    -fx-border-color:white;
}
.text-center {
    -fx-alignment:center;
}